<div class="view-action-tut-container">
  <p class="view-action-tut-title"><%= @tut.tut_title %></p>
  <p class="view-action-tut-content"><%= @tut.tut_content %></p>
  <%= link_to("Back to tutorials", {:action => 'index'}, :class => 'tut-back-link') %>
</div>